@use '../../../assets/scss/1-helpers/variables' as *;

.main {
  background-image: url("../../../assets/img/bg-home.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;

  .button-sidebar-expanded {
    position: absolute;
    top: 1rem;
    left: 14rem;
    opacity: 0.3;
    transform: rotate(270deg);
    padding: 0 12px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
  }

  .button-sidebar-collapsed {
    position: absolute;
    top: 1rem;
    left: -0.6rem;
    opacity: 0.5;
    transform: rotate(90deg);
    padding: 0 12px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
  }
}

.grid-container-full {
  display: grid;
  grid-template-areas:
    "main";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "sidebar"
    "main";
  grid-template-rows: 1fr;
  grid-template-columns: $sidebar-width 1fr;
  height: 100%;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "main";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .responsiveButton {
    z-index: 220;
    position: fixed;
    bottom: 4rem;
    right: 2rem;
  }
}