<div class="main" [ngClass]="isSidebarCollapsed ? 'grid-container-full': 'grid-container'">

    <div class="d-none sidebar " [ngClass]="isSidebarCollapsed ? '': 'd-md-block'">
        <app-sidebar [menuItems]="sideMenu"></app-sidebar>
    </div>

    <div class="container " style="overflow-x: hidden;">
        <a class="btn btn-secondary d-none"
            [ngClass]="isSidebarCollapsed ? 'button-sidebar-collapsed d-md-block': 'button-sidebar-expanded d-md-block'"
            (click)="collapseSidebar()">
            <app-svg-image [iconName]="'menu-duo-lg'"></app-svg-image>
        </a>
        <div class="row mt-3">
            <app-navbar [navItems]="menuItems"></app-navbar>
        </div>
        <div class="d-md-none responsiveButton">
            <app-sidebar-responsive [menuItems]="sideMenu"></app-sidebar-responsive>
        </div>

        <router-outlet></router-outlet>

    </div>
</div>