@use '../../../assets/scss/1-helpers/variables' as *;

.sidebar-container {
  position: fixed;
  background-color: #fff;
  height: 100vh;
  width: $sidebar-width;

  .sidebar-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('../../../assets/img/card-moneytolia.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
  }
  .active-link {
    color: $secondary;
  }

  .social-media-section {
    position: absolute;
    bottom: 2rem;
  }
}