<ul class="d-flex gap-1 circle-icon-menu">
    <li class="linkedin">
        <a href="https://www.linkedin.com/company/moneytolia/" target="_blank" rel="noopener" title="Linkedin">
            <app-svg-image [width]="'20px'" [height]="'20px'" [iconName]="'linkedin'"></app-svg-image>
        </a>
    </li>
    <li class="website">
        <a href="https://www.moneytolia.com/" target="_blank" rel="noopener" title="Github">
            <app-svg-image [width]="'20px'" [height]="'20px'" [iconName]="'global-line'"></app-svg-image>
        </a>
    </li>
    <li class="twitter">
        <a href="https://x.com/moneytolia" target="_blank" rel="noopener" title="Twitter" class="shadow">
            <app-svg-image [width]="'20px'" [height]="'20px'" [iconName]="'twitter'"></app-svg-image>
        </a>
    </li>
    <li class="email">
        <a href="mailto:destek@moneytolia.comm" target="_blank" rel="noopener" title="Email">
            <app-svg-image [width]="'20px'" [height]="'20px'" [iconName]="'envelope'"></app-svg-image>
        </a>
    </li>
</ul>