@use './variables' as variables;

@each $color-name, $color in variables.$theme-colors {
  .#{$color-name}-hover {
    transition: all 300ms ease-in-out;

    &:hover {
      color: $color
    }
  }
}


@for $i from 10 through 200 {
  .fs-#{$i} {
    font-size: $i + px;
  }
}
